.icon {
  background-size: cover;
  background-position: center;

  width: 24px;
  height: 24px;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &__phone {
    position: relative;
    background-image: url(../images/svg/icon-phone.svg);

    &::before {
      content: "+1 234 555-55-55";
      position: absolute;
      top: 50%;
      transform: translate(-100%, -50%);

      display: block;
      width: max-content;

      padding: 0 16px 0 0;

      color: #fff;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;

      pointer-events: none;
      opacity: 0;
    }

    @include onDesktop {
      &:hover::before {
        pointer-events: all;
        opacity: 1;
      }
    }
  }

  &__burger {
    background-image: url(../images/svg/icon-burger.svg);

    &:hover {
      background-image: url(../images/svg/icon-burger-hover.svg);
    }
  }

  &__cross {
    background-image: url(../images/svg/icon-cross.svg);
  }

  &__logo {
    width: 130px;
    height: 38px;

    @include onTablet {
      width: 187px;
      height: 56px;
    }
  }

  &__header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    @include onTablet {
      gap: 32px;
    }
  }
}
