.icon {
  background-size: cover;
  background-position: center;

  width: 24px;
  height: 24px;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &__phone {
    background-image: url(../images/svg/icon-phone.svg);
  }
  &__burger {
    background-image: url(../images/svg/icon-burger.svg);

    &:hover {
      background-image: url(../images/svg/icon-burger-hover.svg);
    }
  }

  &__cross {
    background-image: url(../images/svg/icon-cross.svg);
  }

  &__logo {
    width: 130px;
    height: 38px;

    @include onTablet {
      width: 187px;
      height: 56px;
    }
  }

  &__header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    @include onTablet {
      gap: 32px;
    }
  }
}
