.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0 48px 0;

  @include onTablet {
    padding: 36px 0 48px 0;
  }

  @include onDesktop {
    padding-bottom: 60px;
  }
}
